* {
    padding: 0px;
    margin: 0px;
    font-family: 'sarabun', Arial, Helvetica, sans-serif;
}

#container {
    display: grid;
    height: 1440px;
    grid-template-rows: 60px 390px auto 435px;
}

#header{
    display: grid;
    grid-template-columns: 132px 250px auto 250px 132px;
    height: 60px;
}

#header_menu {
    display: flex;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-content: space-around;
    align-items: center;
}

#header_logo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#img_logo {
    width: 130px;
    height: 50px;
}

#header_search {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* header_search */
.menu_search{
    margin: 100px auto;
    width: 300px;
    height: 50px;
}

.search{
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.search input#search{
    width: 300px;
    height: 40px;
    border-style: solid;
    font-size: 10pt;
    float: left;
    border-color: rgba(128, 128, 128, 0.3);
    padding-left: 45px;
    border-radius: 5px;
}

#banner {
    background-image: url('./HinhAnh/banner.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.text1{
    position: absolute; 
    top: 158px; 
    left: 132px; 
    font-size: 52px; 
}

.text2{
    position: absolute; 
    top: 232px; 
    left: 132px; 
    width: 447px; 
    font-size: 20px; 
}